<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">My Profile</h2>
                <hr class="light">
                <p class="text-faded">Nama : Arif Rakhmatullah.M</p>
                <p class="text-faded">Status : Mahasiswa</p>
                <p class="text-faded">Universitas : Uin Suska Riau</p>
                <p class="text-faded">Jurusan : Sistem Informasi</p>
             
                <a href="#" class="btn btn-default btn-xl">Back to Top</a>
            </div>
        </div>
    </div>
</section>
