<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Social Media</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-facebook wow bounceIn text-primary"></i>
                    <h3>Facebook</h3>
                    <p class="text-muted">Kunjungi Facebook saya</p>
                    <br>
                    <br>
                    <a href="https://web.facebook.com/OursJUMONG" class="btn btn-primary btn-xl page-scroll">Facebook</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-instagram wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Instagram</h3>
                    <p class="text-muted">Kunjungi Instragram saya</p>
                    <br>
                    <br>
                    <a href="https://www.instagram.com/arifrakhmatullah/" class="btn btn-primary btn-xl page-scroll">Instagram</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Sistem Informasi</h3>
                    <p class="text-muted"Sistem Informasi</p>
                    <br>
                    <br>
                    <a href="https://sif.uin-suska.ac.id" class="btn btn-primary btn-xl page-scroll">Sistem Informasi</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Uin Suska Riau</h3>
                    <p class="text-muted">Webiste Uin Suska Riau</p>
                     <br>
                    <br>
                    <a href="https://www.uin-suska.ac.id" class="btn btn-primary btn-xl page-scroll">Uin Suska Riau</a>
                </div>
            </div>
        </div>
    </div>
</section>
